/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .buttons .btn {
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
    color: #f4f4f4;
}

header p {
    font-size: 1.2em;
    color: #888;
}

.section-home {
    padding: 50px 0 30px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
    margin-left: 5%;
}

#get-started .container p {
    margin-left: 5%;
}

#get-started .buttons {
    margin: 0 5%;
}


.buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: #f4f4f4;
    text-decoration: none;
    margin: 10px;
    border-radius: 10px;
}





.social-links {
    margin-top: 20px;
    margin-left: 5%;
}

.social-link {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    margin-bottom: 10px;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}